body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

button {
    background-color: red;
    justify-content: space-evenly;
    padding: 15px;
    margin: 180px;
}

button {
    background-color: red;
    justify-content: space-evenly;
    padding: 30px;
    margin: 140px;
    color:#fff;
    text-decoration:none;
    border:2px solid #000;
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color:#bb00bb;
    border-radius:15%;
    cursor:pointer;
    box-shadow: 0 5px 5px -3px,0 8px 10px 1px, 0 3px 14px 2px;
}
